[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "bundle/wombat256.vim"]
	path = bundle/wombat256.vim
	url = https://github.com/vim-scripts/wombat256.vim.git
[submodule "bundle/vim-projectsettings"]
	path = bundle/vim-projectsettings
	url = https://github.com/mikesimons/vim-projectsettings.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mathieue/gist-vim.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/wesbaker/taglist.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/DBGp-client"]
	path = bundle/DBGp-client
	url = https://github.com/vim-scripts/DBGp-client
[submodule "bundle/phpdoc.vim"]
	path = bundle/phpdoc.vim
	url = https://github.com/vexxor/phpdoc.vim.git
[submodule "bundle/jinja.git"]
	path = bundle/jinja.git
	url = https://github.com/atourino/jinja.vim.git
